body {
    font-family: "Segoe UI", Arial, sans-serif;
    direction: rtl;
    padding: 30px;
    max-width: 650px;
    margin: auto;
    background: #f5f7fa;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    color: #222;
}

input[type="file"] {
    margin-top: 10px;
}
.hidden {
    display: none;
}
button {
    background: #0078d4;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

button:hover {
    background: #005fa3;
}

.small-btn {
    background: #555;
    margin-top: 15px;
}

.small-btn:hover {
    background: #333;
}

#titlesContainer {
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 12px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

textarea {
    width: 100%;
    direction: rtl;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #bbb;
    resize: vertical;
}

#downloadLink {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: #0078d4;
    text-decoration: none;
    font-weight: bold;
}

#downloadLink:hover {
    text-decoration: underline;
}
